mkdocs-minify-plugin
pymdown-extensions
mkdocs-material
mkdocs-autorefs
mkdocs-coverage
mkdocs-pagetree-plugin
mkdocs
voluptuous-openapi>=0.2.0
pngquant
mkdocstrings
mkdocstrings-python
mkdocs-git-revision-date-localized-plugin
mkdocs-meta-descriptions-plugin